
{% extends "layout.html" %}
{% block content %}

<main id="main">

	<div class="container">

		<div class="row topspace">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">What this sport has taught me</h1>
				</header>
				<p><img src="/static/images/football.jpg" alt="" height="300" width="600" class="left" 

					></p>

				<blockquote>"Talent without hard work is nothing”- Cristiano Ronaldo </blockquote>
					<p>The only thing that has not changed about me since i was 10, is my love for football.  </p>
					<p>I began playing football when I was quite young, and I fell in love with it the moment the ball touched my feet.</p>
					<p>Throughout my school years, I played for my school team as well as with my friends in my building; playing this sport still brings me the same joy that it did when I was younger.</p>
					<p>I was a big fan of Cristiano Ronaldo since the beginning, mainly because I was inspired by his dedication, passion, and work ethic for the sport and his dreams.</p>
                    <p>Don't get me wrong, I still think Messi is quite good, but nothing can convince me that Ronaldo is the GOAT.</p>
					<p>I am also a fan of the Red Devils, also known as Manchester United, and watching them play still gives me goosebumps.</p>
                    <p>This sport has taught me not only how to play in a team, but also how to stay disciplined and focused on your goals.</p>


				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

	
				<div class="widget">
					<h4>The lessons i have learnt through football	</h4>
                    <ul>
                        <li>Anything is possible if you believe in yourself and put in the work required</li>
                        <li>A little competitveness in everyone is necessory to achieve one's goals</li>
                        <li>By playing a certain role in a team, gives you a sense of responsibility and purpose, which can help you stay focused.</li>
                        <li>Teamwork makes the Dream work, eventually its the team that lifts up the trophies and wins the games</li>
                        <li>Sportsmanship, Football has taugh me how to be a good sportsperson and always respect the other team. </li>
                    </ul>
				</div>
				
			</aside>			
			<!-- /Sidebar -->
			
		</div>
	</div>	<!-- /container -->
	
</main>

{% endblock content %}
