{% extends "layout.html" %}
{% block content %}
<main id="main">

	<div class="container">
		
		
	
		<div class="row section recentworks topspace">
			
			<h2 class="section-title"><span>My Projects</span></h2>
			
			<main id="main">

				<div class="container">
					<div class="row topspace">
						<div class="col-sm-8 col-sm-offset-2">
																		
							<article class="post">
								<header class="entry-header">
									<h1 class="entry-title"><a href="https://github.com/Satyajeetkadu/Strength-Palace" rel="bookmark">Strength Palace </a></h1>
								</header>
								<div class="entry-content">
									<p><img alt="" src="/static/images/gym.JPG"></p>

									<p>Strength Palace is a Gym & Fitness Platform, where the user can use it to book gym sessions,become a member,learn about various styles of fitness routines and more.</p>
									<p>The users can also get help on nutrition related doubts and learn the proper technique of various exercises performed in the gym.</p>
									<p>To learn more make sure to check out the project on the link above.</p>
								
								
								</div>
							</article>
							 
							 <article class="post">
								<header class="entry-header">
									
									 <h1 class="entry-title"><a href="https://github.com/Satyajeetkadu/Blogging-Website-Flaskml" rel="bookmark">Blogging Website</a></h1>
								</header> 
								<div class="entry-content"> 
									<p><img alt="" src="/static/images/blog.JPG"></p>
								</div> 
								<p>Created a blogging website using the Flask framework</p>
								<p>Users can create accounts,post blogs,update blogs,delete blogs perform various number of CRUD operations. </p>
								<p>Used the SQL database for handling user information, blog posts info and more.</p>
								<p>Plan on adding a like button functionality and more.</p>

							</article><!-- #post-## -->
														
							<article class="post">
								<header class="entry-header">
								
									 <h1 class="entry-title"><a href="https://github.com/Satyajeetkadu/Library-Management-App" rel="bookmark">Library Management Application</a></h1>
								</header> 
								<div class="entry-content"> 
									<p><img alt="" src="/static/images/lib.JPG"></p>

									<p>Developed a library management 
										application with a well developed GUI and 
										database integrated, the user can issue 
										books, return books, create accounts and 
										more</p>
									<p>In this application my group and I have utilized Python and its Tkinter module alongside MySQL for Database operations and connectivity. </p>
										<p>We have also added validation for almost every functionality of our application. On our application the user can first register for the library and then login using a username and password.</p>
								</div> 
							</article><!-- #post-## -->
														
							<article class="post">
								<header class="entry-header"> 
								
									<h1 class="entry-title"><a href="single.html" rel="bookmark">Canteen Application system</a></h1>
								</header>
								<div class="entry-content">

									<p><img alt="" src="/static/images/canteen.JPG"></p>
									<p>Designed an efficient and user-friendly 
										Canteen Application System using c 
										programming language.
										</p>
										<p>This is a Cafeteria food ordering system written in C. This code is capable of ordering multiple food items,serving them and displaying them</p>
								</div>
							 </article><!-- #post-## -->
														
							 <article class="post">
								<header class="entry-header"> 
								
									<h1 class="entry-title"><a href="https://github.com/Satyajeetkadu/Scientific-Calculator-" rel="bookmark">Scientific Calculator system</a></h1>
								</header>
								<div class="entry-content">

									<p><img alt="" src="/static/images/calc.JPG"></p>
									<p>Designed a Working Scientific Calculator 
										using c++ programming language.
										</p>
										<p> This calculator is capable of performing operations on multiple numbers. The numbers might be decimal or non-decimal.</p>										
										<p> It can perform operations on basic arithmatic operations as well as advanced ones like areas,volumes of 2D and 3D shapes and matrix calculations as well.</p>

								</div>
							 </article><!-- #post-## -->
						</div> 
					</div>
			
								
			
				</div>	<!-- /container -->
			
			</main>

		</div> <!-- /section -->

		

			</div>	<!-- /container -->

</main>

{% endblock content %}