
{% extends "layout.html" %}
{% block content %}

<main id="main">

	<div class="container">

		<div class="row topspace">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">How reading has improved me</h1>
				</header>
				<p><img src="/static/images/reading.jpg" alt="" height="300" width="600" class="left" 

					></p>

				<blockquote>"All great Leaders are Reader" </blockquote>
					<p>I recently began a new reading habit because I decided that I wanted to learn and broaden my knowledge over the summer. </p>
                    <p>Reading has taught me so much that I've started implementing it in my life and seen how things have changed.</p>
                    <p>When i was younger and wanted to start a book, i would start it but then due to some reason i would I would wind up never completing those books.</p>
                    <p>Reading has increased my awareness of things, expanded my vocabulary, and given me something to look forward to every night.</p>
                    <p>This summer, I intend to read every day and continue to do so even after the summer is over, as well as to put what I have learned into practise.</p>
                    <p>This page will be constantly updated as I finish or begin new books.</p>


				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

	
				<div class="widget">
					<h4>Books I have read/Currently reading	</h4>
                    <ul>
                        <li>Atomic Habits by James Clear</li>
                        <li>Rich Dad Poor Dad by Robert Kiyosaki</li>
       
                    </ul>
				</div>
				
			</aside>			
			<!-- /Sidebar -->
			
		</div>
	</div>	<!-- /container -->
	
</main>

{% endblock content %}
