
{% extends "layout.html" %}
{% block content %}

<main id="main">

	<div class="container">

		<div class="row topspace">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">How technology fascinates me</h1>
				</header>
				<p><img src="/static/images/tech.jpg" alt="" height="300" width="600" class="left" 

					></p>

				<blockquote>“It has become appallingly obvious that our technology has exceededour humanity.”
                    -Albert Einstein </blockquote>
					<p>As humankind progresses in the future so does the field of technology, nowadays everything we do can be made done easier with technology.</p>
                    <p>We live in an era of complete dependency of technology, look around you everything is working based on some sort of technology, this has created a layer between us and the real world</p>
                    <p> What fascinates me so much about technology is how it can be used to do so much good while also being used to do so much harm. </p>                   
                     <p>The amount of computer power available in today's smartphones is simply remarkable. Our mobile gadgets now have more power than NASA did in 1969 when it landed two astronauts on the moon. </p>
                    <p>It is fairly evident that technology will cross barriers we never thought would be feasible every few years, and this is what gives me optimism for the future of humanity.</p>


				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
		
			<!-- /Sidebar -->
			
		</div>
	</div>	<!-- /container -->
	
</main>

{% endblock content %}
