{% extends "layout.html" %}
{% block content %}

<main id="main">

	<div class="container">

		<div class="row topspace">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">How lifting weights changed my life</h1>
				</header>
				<p><img src="/static/images/meold.jpg" alt="" height="300" width="300" class="left" </p>

				<p><img src="/static/images/me.jpg" alt="" height="300px" width="300px" class="right" 
					></p>

				<blockquote>"No man has the right to be an amateur in the matter of physical training. It is a shame for a man to grow old without seeing the beauty and strength of which his body is capable.”- Socrates </blockquote>
					<p>Growing up i was always the small weak kid amongst my friends and peers from school, and somehow i got used to being like this lazy,unproductive and weak.  </p>
					<p>In the beginning of the pandemic i wasted much time playing video games, eating junk and not exercsing at all, that led me to being in the worst shape of my life.</p>
					<p>So I made a change to my lifestyle and decided that i will start working out ,eat clean and learn about it as well, through the internet.</p>
					<p>I remember spending hours watching fitness videos, nutrition videos and finally after understanding some of it, i started implementing what i had learned.</p>
					<p>In the beginnig it was extremely tough, counting my food intake/calories, then resisiting urges to eat junk,forcing myself to workout even on the days i didn't feel like it</p>
					<p>But once enough time passed by and i started seeing the results, i felt like it was all worth it. Even though i have just begun, I dont feel like stopping now and letting myself fall back onto my old habits.</p>
					<p>I hope this gives someone the motivation and urge to start atleast exercising and staying consistent with it and see the magic it does to yourself...</p>


<h3>Some tips if you are just starting out</h3>	

<ul>
					<li>Eat enough according to your goals, especially eat your protein!</li>
					<li>Lift weights with correct form and technique and dont be afraid to ask people for help.</li>
					<li>Dont go on crazy fad diets which are extremely low in calories and have no nutritional value.</li>
					<li>Always keep learning new things about your workout,nutrition.</li>
					<li>Get your fitness information from good and trusted sources which are backed scientifically. </li>
				</ul>
				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

	
				<div class="widget">
					<h4>What I did personally that helped me get bigger</h4>
					<ul>
						<li>Ate 2g Protein per Kg of my bodyweight</li>
						<li>Ate in a caloric surplus of 250-300</li>
						<li>Progressively got stronger on my main lifts</li>
						<li>Trained until muscle failure almost everyday</li>
						<li>Tried getting atleast 7-8 hours of sleep daily</li>
					</ul>
				</div>
				
			</aside>			
			<!-- /Sidebar -->
			
		</div>
	</div>	<!-- /container -->
	
</main>

{% endblock content %}